*{

    --text: #e8ebed;
    --background: #161a1d;
    --primary: #636583;
    --secondary: #14110f;
    --accent: #898667;

    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-family: Segoe UI,Roboto,Ubuntu,sans-serif;
    color: var(--text);
    background-color: var(--background);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    font-size: clamp(14px, 1.5vw, 18px);
}

body{
    height: 100vh;
    overflow: auto;
    background-color: var(--background);
}
    
button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: inherit;
    background-color: var(--secondary);
    cursor: pointer;
    transition: border-color 0.25s;
    padding: 1rem;
}

button:hover {
    border-color: #646cff;
}
  
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }